<div class="parent">
    <div class="left">
        <h1>My Website</h1><br><hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="/dashboard/welcome">welcome</h3>
        <h3 routerLink="/dashboard/databinding">DataBinding</h3>
        <h3 routerLink="/dashboard/calculator">calculator</h3>
        <h3 routerLink="/dashboard/rectangle">Rectangle</h3>
        <h3 routerLink="/dashboard/circle">Circle</h3>
        <h3 routerLink="/dashboard/BMI">BMI</h3>
        <h3 routerLink="/dashboard/directives">Directives</h3>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
